@import '../../../../mixins';
@import '../../../../variables';
.income-expense{
    border-radius: 5px;
    height: 550px;
    overflow: auto;
    p{
        font-size: $text-xs;
        color: $gray;
    }
    .search{
        input{
            font-size: $text-xs;
            width: 540px;
            cursor:pointer;
        }
    }
}