@import '../../../../mixins';
@import '../../../../variables';

.recent-activity{
    border-radius: 5px;
    height: 550px;
    overflow: auto;
    .activity{
        .activity-img{
            img{
                width: 35px;
                height: 35px;
            }
        }
    }
    .activity-content{
        margin-left: 10px;
        border-bottom: 1px solid #eee;
        width: 100%;
        margin-bottom: 10px;
        h4{
            font-size: 0.75rem;
            margin-bottom: 2px;
        }
        p{
            font-size: 0.625rem;
            color: #9F9F9F;
            margin-bottom: 10px;
        }
        span{
            font-size: 0.625rem;
            color: $primary;
            margin-left: 5px;
            font-weight: $semi-bold;
        }
    }
    .activity-time{
        span{
            color: #9F9F9F;
        }
    }
}