@import '../../../mixins';
@import '../../../variables';

.card-info {
    display: flex;
    align-items: center;
    &__thumbnail {
        width: 40px;
        height: 40px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__content {
        padding-left: 12px;
        flex: 1 0 0;
        p {
            margin: 0;
            font-size: $text-base;
        }
        span {
            font-size: $text-sm;
        }
    }
}