<div class="row card-info-row">
    <div class="col-md-4 card-info-col">
        <div class="card card--lead">
            <div class="row">
                <div class="col-md-6 dash-card-col">
                    <div class="dash-card">
                        <div class="dash-card__thumbnail">
                            <img src="assets/images/profit.svg" alt="profit">
                        </div>
                        <div class="dash-card__content">
                            <p class="mb-0">₹ 0.00</p>
                            <span>New Leads</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 dash-card-col">
                    <div class="dash-card">
                        <div class="dash-card__thumbnail">
                            <img src="assets/images/profit.svg" alt="profit">
                        </div>
                        <div class="dash-card__content">
                            <p class="mb-0">₹ 0.00</p>
                            <span>New Leads</span>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">   
                <div class="col-md-6 dash-card-col">
                    <div class="dash-card">
                        <div class="dash-card__thumbnail">
                            <img src="assets/images/profit.svg" alt="profit">
                        </div>
                        <div class="dash-card__content">
                            <p class="mb-0">₹ 0.00</p>
                            <span>New Leads</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 dash-card-col">
                    <div class="dash-card">
                        <div class="dash-card__thumbnail">
                            <img src="assets/images/profit.svg" alt="profit">
                        </div>
                        <div class="dash-card__content">
                            <p class="mb-0">₹ 0.00</p>
                            <span>New Leads</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 card-info-col">
        <div class="row card-info-row">
            <div class="col-md-6 card-info-col">
                <div class="card card--common card--padding card-margin">
                    <div class="row">
                        <div class="col-md-6">
                            <app-info-card [value]="'10'" [heading]="'In Progress Task'" [bg]="''" [color]="'#FABB05'" [img]="'assets/images/task.svg'"></app-info-card>
                        </div>
                        <div class="col-md-6">
                            <app-info-card [value]="'10'" [heading]="'In Progress Task'" [bg]="''" [color]="'#FABB05'" [img]="'assets/images/task.svg'"></app-info-card>
                        </div>
                    </div>
                </div>
                <div class="card card--common card--padding">
                    <div class="row">
                        <div class="col-md-6">
                            <app-info-card [value]="'10'" [heading]="'In Progress Task'" [bg]="''" [color]="'#FABB05'" [img]="'assets/images/task.svg'"></app-info-card>
                        </div>
                        <div class="col-md-6">
                            <app-info-card [value]="'10'" [heading]="'In Progress Task'" [bg]="''" [color]="'#FABB05'" [img]="'assets/images/task.svg'"></app-info-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 card-info-col">
                <div class="card card--common card--padding card-margin">
                    <div class="row">
                        <div class="col-md-6">
                            <app-info-card [value]="'10'" [heading]="'In Progress Task'" [bg]="''" [color]="'#FABB05'" [img]="'assets/images/task.svg'"></app-info-card>
                        </div>
                        <div class="col-md-6">
                            <app-info-card [value]="'10'" [heading]="'In Progress Task'" [bg]="''" [color]="'#FABB05'" [img]="'assets/images/task.svg'"></app-info-card>
                        </div>
                    </div>
                </div>
                <div class="card card--common card--padding">
                    <div class="row">
                        <div class="col-md-6">
                            <app-info-card [value]="'10'" [heading]="'In Progress Task'" [bg]="''" [color]="'#FABB05'" [img]="'assets/images/task.svg'"></app-info-card>
                        </div>
                        <div class="col-md-6">
                            <app-info-card [value]="'10'" [heading]="'In Progress Task'" [bg]="''" [color]="'#FABB05'" [img]="'assets/images/task.svg'"></app-info-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>