@import '../../../../mixins';
@import '../../../../variables';

.recent-paid{
    border-radius: 5px;
    height: 550px;
    position:relative;
    h4, span{
        font-size: $text-sm;
        font-weight: $semi-bold;
    }
    span{
        color: $primary;
    }
    .recent-paid-all{
        height: 420px;
        overflow: auto;
        .recent-paid-list{
            height: 40px;
            border-bottom: 2px solid $border;
            background: $light;
            padding-right:10px;
        }
    }
    .total-paid{
        background: $primary;
        border-radius: 0 0 5px 5px;
        font-size: $text-sm;
        color: $light;
        height: 44px;
        padding-right:10px;
        span{
                color: $light;
                margin-left: 15px;
            }
        
    }
    
}