<div class="topbar">
    <div class="topbar__left">
        <h4>Welcome Back, Joginder Malhotra</h4>
        <span>{{getCurrentTime}}</span>
    </div>
    <div class="topbar__right">
        <ul>
            <li class="btn">
                <img src="assets/images/language.svg" alt="calender">
                <span>Languages</span>
            </li>
            <li>
                <img src="assets/images/calender.svg" alt="calender">
            </li>
            <li>
                <img src="assets/images/notification.svg" alt="calender">
            </li>
            <li>
                <img src="assets/images/logout.svg" alt="calender">
            </li>
        </ul>
    </div>
</div>