<div class="finance">
    <div class="card-heading d-flex justify-content-between">
        <h2>Finance Report</h2>
        <div class="search d-flex">
            <input type="number">
            <button><i class="material-icons">search</i></button>
        </div>
    </div>
    <div class="row report ">
        <div class="col-md-4 income-report d-flex flex-column align-items-center">
            <p>0.00 /-</p>
            <span>TOTAL ANNUAL INCOME</span>
        </div>
        <div class="col-md-4 expense-report d-flex flex-column align-items-center">
            <p>0.00 /-</p>
            <span>TOTAL ANNUAL EXPENSE</span>
        </div>
        <div class="col-md-4 profit-report d-flex flex-column align-items-center">
            <p>0.00 /-</p>
            <span>TOTAL ANNUAL PROFIT</span>
        </div>
    </div>

    <img src="../../../../assets/images/bar chart.png" alt="">
</div>