@import '../../../../mixins';
@import '../../../../variables';

.finance{
    border-radius: 5px;
    height: 550px;
    .report{
        margin-top: -5px;
        p{
            font-size: 14px;
            font-weight: $bold;
            margin-bottom: -8px;
        }
        span{
            font-size: 10px;
            font-weight: $semi-bold;
            margin-top: 5px;
        }
        .income-report{
            span{
                color: #0067B8;
            }
        }
        .expense-report{
            span{
                color: #F05050;
            }
        }
        .profit-report{
            span{
                color: #4FA7A5;
            }
        }
    }
    img{
        margin-top: 10px;
        width: 100%;
        height: 410px;
    }
}