@import '../../../../mixins';
@import '../../../../variables';

.finance{
    border-radius: 5px;
    height: 550px;
    .report{
        margin-top: -5px;
        p{
            font-size: $text-sm;
            font-weight: $bold;
            margin-bottom: -8px;
        }
        span{
            font-size: $text-2xs;
            font-weight: $semi-bold;
            margin-top: 5px;
        }
        .income-report{
            span{
                color: $primary;
            }
        }
        .expense-report{
            span{
                color: $red;
            }
        }
        .profit-report{
            span{
                color: $skyblue;
            }
        }
    }
    img{
        margin-top: 10px;
        width: 100%;
        height: 410px;
    }
}