<div class="project">
    <div class="project-card">
        <div class="row">
            <div class="col-md-2">
                <app-status-card [bg]="'#F05050'"  [position]="'2/3'" [status]="'Overdue'" [color]="'#fff'"></app-status-card>
            </div>
            <div class="col-md-2">
                <app-status-card [bg]="'#0067B8'" [position]="'1/3'" [status]="'Started'" [color]="'#fff'"></app-status-card>
            </div>
            <div class="col-md-2">
                <app-status-card [bg]="'#FABB05'" [position]="'3/3'" [status]="'On Hold'" [color]="'#fff'"></app-status-card>
            </div>
            <div class="col-md-2">
                <app-status-card [bg]="'#00C0EF'" [position]="'2/3'" [status]="'In Progress'" [color]="'#fff'"></app-status-card>
            </div>
            <div class="col-md-2">
                <app-status-card [bg]="'#E9821C'" [position]="'3/3'" [status]="'Cancel'" [color]="'#fff'"></app-status-card>
            </div>
            <div class="col-md-2">
                <app-status-card [bg]="'#34A853'" [position]="'1/3'" [status]="'Complete'" [color]="'#fff'"></app-status-card>
            </div>
        </div>

        <div class="row">
            <div class="page-header d-flex justify-content-between mt-2">
                <div class="page-header_content">
                    <span>All Projects</span>
                </div>
                <div class="page-header_nav d-flex">
                    <div class="page-header_toggle d-flex">
                        <button (click)="showHide()"><i class="material-icons">build</i></button>
                        <button><i class="material-icons">cached</i></button>
                    </div>
                    <div class="page-header_search d-flex me-1">
                        <input type="search">
                        <button><i class="material-icons">search</i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row project-card-content" *ngIf="!cardTable">
            <div class="col-md-4 mt-3">
                <app-project-card [img]="'../../../assets/images/jogi.png'" [heading]="'Startupbuddy Website Work'" [date]="'End Date: 12.31.2022'" [status]="'Overdue'"></app-project-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-project-card [img]="'../../../assets/images/jogi.png'" [heading]="'Startupbuddy Website Work'" [date]="'End Date: 12.31.2022'" [status]="'Overdue'"></app-project-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-project-card [img]="'../../../assets/images/jogi.png'" [heading]="'Startupbuddy Website Work'" [date]="'End Date: 12.31.2022'" [status]="'Overdue'"></app-project-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-project-card [img]="'../../../assets/images/jogi.png'" [heading]="'Startupbuddy Website Work'" [date]="'End Date: 12.31.2022'" [status]="'Overdue'"></app-project-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-project-card [img]="'../../../assets/images/jogi.png'" [heading]="'Startupbuddy Website Work'" [date]="'End Date: 12.31.2022'" [status]="'Overdue'"></app-project-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-project-card [img]="'../../../assets/images/jogi.png'" [heading]="'Startupbuddy Website Work'" [date]="'End Date: 12.31.2022'" [status]="'Overdue'"></app-project-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-project-card [img]="'../../../assets/images/jogi.png'" [heading]="'Startupbuddy Website Work'" [date]="'End Date: 12.31.2022'" [status]="'Overdue'"></app-project-card>
            </div>
            <div class="col-md-4 mt-3">
                <app-project-card [img]="'../../../assets/images/jogi.png'" [heading]="'Startupbuddy Website Work'" [date]="'End Date: 12.31.2022'" [status]="'Overdue'"></app-project-card>
            </div>
        </div>
    </div>

        <div class="row project-table-content" *ngIf="cardTable">
            <app-project-table [data]="projectList"></app-project-table>
        </div>
</div>