<div class="row">
    <div class="col-md-2">
        <app-status-card [bg]="'#F05050'"  [position]="'2/3'" [status]="'Overdue'" [color]="'#fff'"></app-status-card>
    </div>
    <div class="col-md-2">
        <app-status-card [bg]="'#0067B8'" [position]="'1/3'" [status]="'Started'" [color]="'#fff'"></app-status-card>
    </div>
    <div class="col-md-2">
        <app-status-card [bg]="'#FABB05'" [position]="'3/3'" [status]="'On Hold'" [color]="'#fff'"></app-status-card>
    </div>
    <div class="col-md-2">
        <app-status-card [bg]="'#00C0EF'" [position]="'2/3'" [status]="'In Progress'" [color]="'#fff'"></app-status-card>
    </div>
    <div class="col-md-2">
        <app-status-card [bg]="'#E9821C'" [position]="'3/3'" [status]="'Cancel'" [color]="'#fff'"></app-status-card>
    </div>
    <div class="col-md-2">
        <app-status-card [bg]="'#34A853'" [position]="'1/3'" [status]="'Complete'" [color]="'#fff'"></app-status-card>
    </div>
</div>

<div class="page-header d-flex justify-content-between mt-2">
    <div>
        <span>All Projects</span>
    </div>
    <div class="page-header_toggle">
        <button>Table</button>
        <div class="page-header_search">
            <input type="search">
            <i class="material-icons">search</i>
        </div>
    </div>
</div>








<!-- <div class="row">
    <div class="col-md-6" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
        <app-project-card 
        [initial]="'sb'"
        
        >
        </app-project-card>

    </div>
</div> -->