<div class="to-do-list">
    <div class="card-heading header d-flex justify-content-between">
        <h2>To Do List</h2>
        <div>
            <button>VIEW ALL</button>
            <button>ADD NEW</button>
        </div>
    </div>
    <div class="to-do-list_table">
        <table>
            <tr class="table-header">
                <th></th>
                <th>WHAT TO DO</th>
                <th>STATUS</th>
                <th>END DATE</th>
                <th>ACTION</th>
            </tr>
            <tr *ngFor="let item of list" class="table-content">
                <td><input type="checkbox"></td>
                <td>{{item.work}}</td>
                <td>
                    <span>{{item.status}}</span>
                    <select>
                        <option>Change status</option>
                        <option>Change status</option>
                        <option>Change status</option>
                    </select>
                </td>
                <td>{{item.date}}</td>
                <td><button class="d-flex align-items-center"><i class="material-icons">more_vert</i></button></td>
            </tr>
        </table>
    </div>
</div>
