@import '../../../../mixins';
@import '../../../../variables';

.to-do-list{
    border-radius: 5px;
    height: 550px;
    overflow: auto;
    .header{
        button{
            border: none;
            background: transparent;
            font-size: $text-2xs;
            padding: 3px 10px;
            color: $primary;
            font-weight: $semi-bold;
            &:last-child{
                background: $primary;
                color: $light;
                border-radius: 5px;
            }
        }
    }
    .to-do-list_table{
        table{
            width: 100%;
            .table-header{
                font-size:$text-xs;
                color: $gray;
                height: 30px;
                font-weight: $semi-bold;
                background: $light;
                border-bottom: 3px solid $border;
            }
            .table-content{
                font-size: $text-2xs;
                background: $light;
                height: 45px;
                border-bottom: 3px solid $border;
                input{
                    width:20px;
                    height: 20px;
                    border: 1px solid $border;
                }
                span{
                    font-size: $text-3xs;
                    background: $yellow;
                    color: $light;
                    margin-right: 5px;
                    border-radius: 3px;
                    padding: 2px 5px;
                }
                select{
                    font-size: $text-3xs;
                    background: $success;
                    color: $light;
                    border-radius: 3px;
                }
                button{
                    border: none;
                    background: transparent;
                }

            }
        }
    }
}