@import '../../../../mixins';
@import '../../../../variables';

.income-expense{
    border-radius: 5px;
    height: 550px;
    overflow: auto;
    table{
        width: 100%;
        tr{
            height: 40px;
            background: $light;
            border-bottom: 3px solid $border;
            th{
                font-size: $text-sm;
                font-weight: $semi-bold;
                color: $gray;
            }
            td{
                font-size: $text-xs;
                font-weight: $semi-bold;
                span{
                    color: $date;
                    span{
                        background: #F05050;
                        color: $light;
                        border-radius: 3px;
                        font-size: $text-3xs;
                        padding: 0 5px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}