@import '../../../../mixins';
@import '../../../../variables';

.income-expense{
    border-radius: 5px;
    height: 550px;
    overflow: auto;
    table{
        width: 100%;
        tr{
            height: 40px;
            background: #fff;
            border-bottom: 3px solid #fafafa;
            th{
                font-size: 0.875rem;
                font-weight: $semi-bold;
                color: #414141;
            }
            td{
                font-size: 0.75rem;
                font-weight: $semi-bold;
                span{
                    color: #9f9f9f;
                    span{
                        background: #F05050;
                        color: #fff;
                        border-radius: 3px;
                        font-size: 0.5rem;
                        padding: 0 5px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}