<ngx-slick-carousel class="carousel school-carousel mb-4" 
#slickModal="slick-carousel" 
[config]="slideConfig">
    <div ngxSlickItem class="slide">
        <div class="slider-img-wrap">
            1
        </div>
    </div>
    <div ngxSlickItem class="slide">
        <div class="slider-img-wrap">
            1
        </div>
    </div>
    <div ngxSlickItem class="slide">
        <div class="slider-img-wrap">
            1
        </div>
    </div>
    <div ngxSlickItem class="slide">
        <div class="slider-img-wrap">
            1
        </div>
    </div>
    <div ngxSlickItem class="slide">
        <div class="slider-img-wrap">
            1
        </div>
    </div>
    <div ngxSlickItem class="slide">
        <div class="slider-img-wrap">
            1
        </div>
    </div>
    <div ngxSlickItem class="slide">
        <div class="slider-img-wrap">
            1
        </div>
    </div>
    
    <!-- <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ imageUrl + (schoolProgramDetails|async)?.school?.schoolImage1 }}" alt="" width="50%" height="50%">
    <img src="{{ imageUrl +(schoolProgramDetails|async)?.school?.schoolImage2 }}" alt="" width="50%" height="50%">
    <img src="{{ imageUrl + (schoolProgramDetails|async)?.school?.schoolImage3 }}" alt="" width="50%" height="50%">
    </div> -->
</ngx-slick-carousel>