@import '../../../../mixins';
@import '../../../../variables';

.calendar{
    border-radius: 5px;
    height: 550px;
    .calendar-header{
        .calendar-nav{
            button{
                border: none;
                margin-left:10px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:not(:last-child){
                    width: 26px;
                    height: 26px;
                    background: $btn-bg-calender;
                    border-radius: 5px;
                }
                &:last-child{
                    width: 64px;
                    height: 26px;
                    background: $primary;
                    border-radius: 5px;
                    color: $light;
                    font-size: $text-xs;
                }
            }
        }
        .calendar-btn-grp{
            margin-bottom: 15px;
            button{
                background: $primary;
                font-size: $text-xs;
                height: 26px;
                display: flex;
                align-items: center;
                &:last-child{
                    margin-right: 20px;
                }
            }
        }
    }
    .calendar-img{
        img{
        width: 100%;
        }
    }
}