<div class="calendar">
    <h2>My Calendar</h2>
    <hr>
    <div class="row calendar-header">
        <div class="col-md-4 calendar-nav d-flex">
            <button><i class="material-icons">chevron_left</i></button>
            <button><i class="material-icons">chevron_right</i></button>
            <button>Today</button>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <span>October 2022</span>
        </div>
        <div class="col-md-4 calendar-btn-grp d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">MONTH</button>
                <button type="button" class="btn btn-primary">WEEK</button>
                <button type="button" class="btn btn-primary">DAY</button>
            </div>
        </div>
    </div>
    <div class="calendar-img">
        <img src="../../../assets/images/calendar.png" alt="">
    </div>
</div>
