$font:'Poppins', sans-serif;
$light: #ffffff;
$dark: #1a1a1a;
$gray:#414141;
$gray1:#5f6368;
$primary: #0067B8;
$primary-light: #fff5fb;
$secondary:#4B2CAA;
$header-bg:$primary;
$link:#00599f;
$table-heading:#f18300;
$yellow:#f18300;
$primary-size: 12px;
$light-gray: #eeeeee;
$primary-space: 16px;
$danger: #ff4d63;
$red:#ff3b3b;
$success: #3D903F;
$primary-dark: #29487F;
$light-theme: #E8F3FD;
$primary-background: #00599f;
$background: #e7eff7;
$border: #fafafa;
$btn-bg-calender: #E4F3FF;
$skyblue: #4FA7A5;
$date: #9f9f9f;
$regular:400;
$semi-bold:500;
$bold:600;
$bolder:700;
$phone-sm:360px;
$phone: 480px;
$phone-landscape: 576px;
$tablet: 767px;
$laptopview: 991px;
$laptop: 1024px;
$dekstop: 1280px;
$large: 1360px;
$fb:#4767AA;
$insta: #6E55B2;
$twitter: #50ABF1;
$youtube: #FA423B;
$linkedIn: #0077B5;
$gray-title:#f9fafb;
$gray-breadcrumb:#f9fafb;
$font-sm:14px;
$font-light:'poppinslight';
$font-regular:'poppinsregular';
$font-medium:'poppinsmedium';
$font-bold:'poppinsbold';
$font-semibold:'poppinssemibold';
$text-3xs:0.5rem; // 8px
$text-2xs:0.625rem; // 10px
$text-xs:0.75rem; // 12px
$text-sm:0.875rem; // 14px
$text-base:1rem; // 16px;
$text-lg:1.125rem; // 18px
$text-xl:1.25rem; // 20px
$text-2xl:1.625rem; // 24px
$text-3xl:1.75rem; // 28px
$text-4xl:2.25rem; // 36px