/* You can add global styles to this file, and also import other style files */
@import './mixins';
@import './variables';
html, body { height: 100%; }
body { 
    background:#f4f1f1;
    margin: 0; 
    font-family: $font;
    font-size: 16px; 
}
button, a, button:focus, a:focus{
    outline:none;
}
.card-col {
    margin-bottom: 30px;
    @include breakpoint(tablet) {
        margin-bottom: 15px;
    }
}
.card {
    &--common {
        background: $light;
        border: none;
        @include boxShadow(0,3px,6px,0);
    }
    &--padding {
        padding: 15px;
    }
}
.login-left-arrow{
    &::before{
        display: none;
    }
}
.login-right-arrow{
    &::before{
        display: none;
    }
}

.card-heading {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    // margin: 0 -15px;
    margin-bottom: 20px;
    min-height: 50px;
    h2{
        font-size: 1rem;
        font-weight: $semi-bold;
        color: #414141;
        margin-bottom: -5px;
    }
}
.card-content{
    padding: 0 15px;
}

.search{
    border: 1px solid #cecece;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    overflow: hidden;
    input{
        border: none;
        height: 30px;
        outline: none;
        padding-left: 10px;
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: $primary;
        width: 22px;
        height: 22px;
        color: white;
        margin-right: 3px;
        border-radius: 5px;
        i{
            font-size: 1rem;
        }
    }
}