/* You can add global styles to this file, and also import other style files */
@import './mixins';
@import './variables';
html, body { height: 100%; }
body { 
    background:#fafafa;
    margin: 0; 
    font-family: $font;
    font-size: 16px; 
}

.card {
    &--common {
        background: $light;
        border: none;
        @include boxShadow(0,3px,6px,0);
    }
    &--padding {
        padding: 15px;
    }
}
.login-left-arrow{
    &::before{
        display: none;
    }
}
.login-right-arrow{
    &::before{
        display: none;
    }
}