<div class="card card--lead calendar">
    <div class="row card-heading calendar-heading">
        <div class="col-md-6">
            <h2>Calendar</h2>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <select>
                <option>All</option>
                <option>Projects</option>
                <option>Milestone</option>
                <option>Tasks</option>
                <option>Bugs</option>
                <option>Invoice</option>
                <option>Payments</option>
                <option>Estimate</option>
                <option>Opportunities</option>
                <option>Goal tracking</option>
                <option>Holiday</option>
                <option>Absent</option>
                <option>On Leave</option>
            </select>
            <button><i class="material-icons">settings</i></button>
        </div>
    </div>
    <div class="row calendar-header">
        <div class="col-md-4 calendar-nav d-flex align-items-center">
            <button><i class="material-icons">chevron_left</i></button>
            <button><i class="material-icons">chevron_right</i></button>
            <button>Today</button>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <span>October 2022</span>
        </div>
        <div class="col-md-4 calendar-btn-grp d-flex justify-content-end align-items-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">MONTH</button>
                <button type="button" class="btn btn-primary">WEEK</button>
                <button type="button" class="btn btn-primary">DAY</button>
            </div>
        </div>
    </div>
    <div class="row calendar-img">
        <img src="../../../assets/images/calendar.png" alt="">
    </div>
</div>